html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#403075, #882061);
}

.piano {
    display: flex;
    position: relative;
    margin-left: 4px;
}

.white-key {
    width: 48px;
    height: 120px;
    background-color: #fff;
    border: 4px solid black;
    border-radius: 0 0 6px 6px;
    margin-left: -4px;
    outline: none;
    cursor: pointer;
}

.black-key {
    position: absolute;
    width: 24px;
    height: 80px;
    background-image: linear-gradient(#000000, #303030);
    border: 3px solid black;
    border-radius: 0 0 2px 2px;
    outline: none;
    cursor: pointer;
}